trigger:
  - main
  - Development

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/Console/ElevatorApp.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

stages:
  - stage: Build
    jobs:
      - job: BuildJob
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.x'  # Replace with the version you need

          - task: NuGetToolInstaller@1

          - task: NuGetCommand@2
            inputs:
              restoreSolution: '$(solution)'

          - task: DotNetCoreCLI@2
            displayName: Build
            inputs:
              command: 'build'
              projects: '$(solution)'
              arguments: '--configuration $(buildConfiguration)'

          - task: DotNetCoreCLI@2
            displayName: Publish CLI
            inputs:
              command: 'publish'
              publishWebProjects: false
              projects: '**/Console/ElevatorApp.csproj'
              arguments: '--configuration $(buildConfiguration) --output $(build.artifactStagingDirectory)/cli'
              zipAfterPublish: false

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: '$(build.artifactStagingDirectory)/cli'
              ArtifactName: 'ElevatorApp'
              publishLocation: 'Container'
